# HistoRando Mobile App - Variables d'environnement

# API Backend
API_BASE_URL=https://histo-rando-backend-egvh3.ondigitalocean.app/api/v1

# Configuration de l'application
APP_NAME=HistoRando
APP_VERSION=1.0.0

# Expo
EXPO_PUBLIC_API_URL=https://histo-rando-backend-egvh3.ondigitalocean.app/api/v1
